<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a82ed40-df72-4384-827e-bf58d9f39626" Alias="notFoundPage" Level="1">
  <Info>
    <Name>Not Found Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5a408b6b-cc8f-48cf-9ee0-3ceaa3623f57">articleComposition</Composition>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
    </Compositions>
    <DefaultTemplate>NotFoundPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01a0b017-b2d8-7e33-ba52-6aff7f81ff42">NotFoundPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>