<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b38e346e-54db-411e-9097-ba72e57e9a1d" Alias="sectionPage" Level="1">
  <Info>
    <Name>SectionPage</Name>
    <Icon>icon-shipping-box</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
      <Composition Key="48c3005d-589e-4063-9112-7e5decf85f12">pageSettingsComposition</Composition>
      <Composition Key="68d1618b-4fe8-4e81-9f66-ff1ae0bbb1b6">umbracoSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>SectionPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01a0f19a-30c5-70c9-9b3d-3683a78c9913">SectionPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2d7bc6cf-3c54-4369-8569-798d86bf696e" SortOrder="0">newsPage</ContentType>
    <ContentType Key="a9889601-f93c-4cba-8a01-03e4f324071e" SortOrder="1">textPage</ContentType>
    <ContentType Key="fcc1ab59-8ba8-4806-a1f0-68300c45dadb" SortOrder="2">eventPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>