<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1b1bea4-a6e0-4635-9cb1-3716b6a1875d" Alias="tagsPage" Level="1">
  <Info>
    <Name>Tags Page</Name>
    <Icon>icon-tags</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TagsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01a0b018-b323-7aaa-adf0-85c8e263a295">TagsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>