<?xml version="1.0" encoding="utf-8"?>
<Content Key="d35ea60a-70c5-4eae-bffc-96f26eeed3ea" Alias="Åbne" Level="3">
  <Info>
    <Parent Key="b4e402e0-dec9-45bc-8cd0-4a3c238370a1">Events</Parent>
    <Path>/Site1/Events/aabne</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionPage</ContentType>
    <CreateDate>2026-09-30T09:22:24</CreateDate>
    <NodeName Default="Åbne">
      <Name Culture="da">Åbne</Name>
      <Name Culture="en">Public</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template Key="01a0f19a-30c5-70c9-9b3d-3683a78c9913">SectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <title>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>