<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8daf0ed-1b80-41d9-baf3-b517c5df67b3" Alias="Building a calmer editorial workflow" Level="4">
  <Info>
    <Parent Key="1ce0348d-9017-4791-8e0b-9f3455a63cfd">2026</Parent>
    <Path>/Default/Blog//BuildingACalmerEditorialWorkflow</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-09-18T15:10:51</CreateDate>
    <NodeName Default="Building a calmer editorial workflow">
      <Name Culture="da">Building a calmer editorial workflow</Name>
      <Name Culture="en">Building a calmer editorial workflow</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEt godt workflow starter med en enkel kalender, tydelige ejere og tid til redigering.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA good workflow starts with a simple calendar, clear ownership, and time for editing.\u003C/p\u003E"
}]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Små vaner, der gør det lettere at planlægge og udgive indhold.]]></Value>
      <Value Culture="en"><![CDATA[Small habits that make planning and publishing content easier.]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <tags>
      <Value Culture="da"><![CDATA[[
  "blog",
  "workflow"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "blog",
  "workflow"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Sådan skaber du et roligere redaktionelt workflow]]></Value>
      <Value Culture="en"><![CDATA[Building a calmer editorial workflow]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>