<?xml version="1.0" encoding="utf-8"?>
<Content Key="355cccf6-d2d6-4438-b536-b0bc2ea85a08" Alias="Five questions before publishing" Level="4">
  <Info>
    <Parent Key="1ce0348d-9017-4791-8e0b-9f3455a63cfd">2026</Parent>
    <Path>/Default/Blog//FiveQuestionsBeforePublishing</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-09-18T15:10:51</CreateDate>
    <NodeName Default="Five questions before publishing">
      <Name Culture="da">Five questions before publishing</Name>
      <Name Culture="en">Five questions before publishing</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ESp\u00F8rg hvem indholdet hj\u00E6lper, hvad l\u00E6seren skal g\u00F8re bagefter, og om teksten er let at forst\u00E5.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EAsk who the content helps, what the reader should do next, and whether the writing is easy to understand.\u003C/p\u003E"
}]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[En kort redaktionel tjekliste til bedre indhold.]]></Value>
      <Value Culture="en"><![CDATA[A short editorial checklist for better content.]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <tags>
      <Value Culture="da"><![CDATA[[
  "blog",
  "editorial"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "blog",
  "editorial"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Fem spørgsmål før du trykker udgiv]]></Value>
      <Value Culture="en"><![CDATA[Five questions before publishing]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>