<?xml version="1.0" encoding="utf-8"?>
<Content Key="1759ab42-bdc9-4b4d-aad2-a5beff4aa570" Alias="Hand-poured Cedar Candle" Level="4">
  <Info>
    <Parent Key="66e05c9c-3845-4a61-b33d-218aecf81a31">Dekorationer</Parent>
    <Path>/Default/Shop/Dekorationer/HandPouredCedarCandle</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2026-09-18T15:11:12</CreateDate>
    <NodeName Default="Hand-poured Cedar Candle">
      <Name Culture="da">Hand-poured Cedar Candle</Name>
      <Name Culture="en">Hand-poured Cedar Candle</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0b4d1-f007-7953-9c45-e9069eb36cb6">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <productBrand>
      <Value Culture="da"><![CDATA[North Home]]></Value>
      <Value Culture="en"><![CDATA[North Home]]></Value>
    </productBrand>
    <productCategory>
      <Value Culture="da"><![CDATA[Dekoration]]></Value>
      <Value Culture="en"><![CDATA[Decorations]]></Value>
    </productCategory>
    <productDescription>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEt varmt duftlys med noter af cedertr\u00E6 og appelsinskal.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA warm scented candle with cedarwood and orange peel notes.\u003C/p\u003E"
}]]></Value>
    </productDescription>
    <productImage>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productImage>
    <productName>
      <Value Culture="da"><![CDATA[Håndstøbt cedertræslys]]></Value>
      <Value Culture="en"><![CDATA[Hand-poured Cedar Candle]]></Value>
    </productName>
    <productSku>
      <Value Culture="da"><![CDATA[DEC-201]]></Value>
      <Value Culture="en"><![CDATA[DEC-201]]></Value>
    </productSku>
    <tags>
      <Value Culture="da"><![CDATA[[
  "shop",
  "decorations",
  "home"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "shop",
  "decorations",
  "home"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>