<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc21b36c-4b35-461e-aa66-83302ab09cbb" Alias="Live Design Systems Clinic" Level="4">
  <Info>
    <Parent Key="09f032a9-b531-4b90-b858-c9aa8cabdb3d">Online</Parent>
    <Path>/Default/Events/Online/LiveDesignSystemsClinic</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-09-18T15:10:51</CreateDate>
    <NodeName Default="Live Design Systems Clinic">
      <Name Culture="da">Live Design Systems Clinic</Name>
      <Name Culture="en">Live Design Systems Clinic</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f6179-c924-73e2-8c94-84fe33eb6555">EventPage</Template>
  </Info>
  <Properties>
    <contactPointEmail>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointEmail>
    <contactPointTelephone>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointTelephone>
    <content>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ESend dine udfordringer p\u00E5 forh\u00E5nd og f\u00E5 sparring p\u00E5 komponenter, dokumentation og governance.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ESend your challenge in advance and get advice on components, documentation, and governance.\u003C/p\u003E"
}]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[En online session med konkrete spørgsmål og løsninger.]]></Value>
      <Value Culture="en"><![CDATA[An online session for practical questions and solutions.]]></Value>
    </description>
    <eventEndDate>
      <Value><![CDATA[2026-04-23T13:00:00]]></Value>
    </eventEndDate>
    <eventMaximumAttendeeCapacity>
      <Value><![CDATA[]]></Value>
    </eventMaximumAttendeeCapacity>
    <eventStartDate>
      <Value><![CDATA[2026-04-23T12:00:00]]></Value>
    </eventStartDate>
    <postAddressAddressCountry>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postAddressAddressCountry>
    <postalAddressAddressLocality>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressLocality>
    <postalAddressAddressRegion>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressRegion>
    <postalAddressExtendedAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressExtendedAddress>
    <postalAddressPostalCode>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressPostalCode>
    <postalAddressStreetAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressStreetAddress>
    <tags>
      <Value Culture="da"><![CDATA[[
  "events",
  "online",
  "design-systems"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "events",
  "online",
  "design-systems"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Live-klinik om designsystemer]]></Value>
      <Value Culture="en"><![CDATA[Live Design Systems Clinic]]></Value>
    </title>
  </Properties>
</Content>