<?xml version="1.0" encoding="utf-8"?>
<Content Key="1425cb94-de92-469b-83e3-c06ef28cf180" Alias="Mærker" Level="2">
  <Info>
    <Parent Key="b04a32de-a3c4-4946-9ce4-efb9bbedb396">Default</Parent>
    <Path>/Default/Maerker</Path>
    <Trashed>false</Trashed>
    <ContentType>tagsPage</ContentType>
    <CreateDate>2026-09-17T16:01:55</CreateDate>
    <NodeName Default="Mærker">
      <Name Culture="da">Mærker</Name>
      <Name Culture="en">Tags</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0b018-b323-7aaa-adf0-85c8e263a295">TagsPage</Template>
  </Info>
  <Properties />
</Content>