<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e1f402f-ae6a-4063-8095-c2c0bee7bf96" Alias="Merino Everyday Beanie" Level="4">
  <Info>
    <Parent Key="ef59a2b7-869b-419b-8d20-9487be8a1f01">Tøj</Parent>
    <Path>/Default/Shop/Toej/MerinoEverydayBeanie</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2026-09-18T15:11:11</CreateDate>
    <NodeName Default="Merino Everyday Beanie">
      <Name Culture="da">Merino Everyday Beanie</Name>
      <Name Culture="en">Merino Everyday Beanie</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0b4d1-f007-7953-9c45-e9069eb36cb6">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <productBrand>
      <Value Culture="da"><![CDATA[North Studio]]></Value>
      <Value Culture="en"><![CDATA[North Studio]]></Value>
    </productBrand>
    <productCategory>
      <Value Culture="da"><![CDATA[Beklædning]]></Value>
      <Value Culture="en"><![CDATA[Clothing]]></Value>
    </productCategory>
    <productDescription>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEn let og varm merinohue til k\u00F8lige dage.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA lightweight, warm merino beanie for cooler days.\u003C/p\u003E"
}]]></Value>
    </productDescription>
    <productImage>
      <Value Culture="da"><![CDATA[[
  {
    "key": "1192aa9a-0def-44eb-97d9-57dde27dcc4e",
    "mediaKey": "0bf82956-e1f2-4f20-a06f-8354a9e79b5b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productImage>
    <productName>
      <Value Culture="da"><![CDATA[Merinohue til hverdagen]]></Value>
      <Value Culture="en"><![CDATA[Merino Everyday Beanie]]></Value>
    </productName>
    <productSku>
      <Value Culture="da"><![CDATA[WEAR-102]]></Value>
      <Value Culture="en"><![CDATA[WEAR-102]]></Value>
    </productSku>
    <tags>
      <Value Culture="da"><![CDATA[[
  "shop",
  "wearables",
  "clothing"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "shop",
  "wearables",
  "clothing"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>