<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d15e4d3-b834-48f4-9cb0-17fde242b7a1" Alias="Minimal Ceramic Vase" Level="4">
  <Info>
    <Parent Key="66e05c9c-3845-4a61-b33d-218aecf81a31">Dekorationer</Parent>
    <Path>/Default/Shop/Dekorationer/MinimalCeramicVase</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2026-09-18T15:11:11</CreateDate>
    <NodeName Default="Minimal Ceramic Vase">
      <Name Culture="da">Minimal Ceramic Vase</Name>
      <Name Culture="en">Minimal Ceramic Vase</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0b4d1-f007-7953-9c45-e9069eb36cb6">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <productBrand>
      <Value Culture="da"><![CDATA[North Home]]></Value>
      <Value Culture="en"><![CDATA[North Home]]></Value>
    </productBrand>
    <productCategory>
      <Value Culture="da"><![CDATA[Dekoration]]></Value>
      <Value Culture="en"><![CDATA[Decorations]]></Value>
    </productCategory>
    <productDescription>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEn enkel h\u00E5ndglaseret vase til grene og s\u00E6sonblomster.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA simple hand-glazed vase for branches and seasonal flowers.\u003C/p\u003E"
}]]></Value>
    </productDescription>
    <productImage>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productImage>
    <productName>
      <Value Culture="da"><![CDATA[Minimalistisk keramikvase]]></Value>
      <Value Culture="en"><![CDATA[Minimal Ceramic Vase]]></Value>
    </productName>
    <productSku>
      <Value Culture="da"><![CDATA[DEC-202]]></Value>
      <Value Culture="en"><![CDATA[DEC-202]]></Value>
    </productSku>
    <tags>
      <Value Culture="da"><![CDATA[[
  "shop",
  "decorations",
  "home"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "shop",
  "decorations",
  "home"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>