<?xml version="1.0" encoding="utf-8"?>
<Content Key="08f8ff73-080b-422a-be36-4fda66ce7411" Alias="Organic Cotton Studio Tee" Level="4">
  <Info>
    <Parent Key="ef59a2b7-869b-419b-8d20-9487be8a1f01">Tøj</Parent>
    <Path>/Default/Shop/Toej/OrganicCottonStudioTee</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2026-09-18T15:11:12</CreateDate>
    <NodeName Default="Organic Cotton Studio Tee">
      <Name Culture="da">Organic Cotton Studio Tee</Name>
      <Name Culture="en">Organic Cotton Studio Tee</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0b4d1-f007-7953-9c45-e9069eb36cb6">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <productBrand>
      <Value Culture="da"><![CDATA[North Studio]]></Value>
      <Value Culture="en"><![CDATA[North Studio]]></Value>
    </productBrand>
    <productCategory>
      <Value Culture="da"><![CDATA[Beklædning]]></Value>
      <Value Culture="en"><![CDATA[Clothing]]></Value>
    </productCategory>
    <productDescription>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEn bl\u00F8d T-shirt i \u00F8kologisk bomuld til hverdagsbrug.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA soft organic cotton T-shirt for everyday wear.\u003C/p\u003E"
}]]></Value>
    </productDescription>
    <productImage>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productImage>
    <productName>
      <Value Culture="da"><![CDATA[Økologisk bomulds-T-shirt]]></Value>
      <Value Culture="en"><![CDATA[Organic Cotton Studio Tee]]></Value>
    </productName>
    <productSku>
      <Value Culture="da"><![CDATA[WEAR-101]]></Value>
      <Value Culture="en"><![CDATA[WEAR-101]]></Value>
    </productSku>
    <tags>
      <Value Culture="da"><![CDATA[[
  "shop",
  "wearables"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "shop",
  "wearables",
  "clothing"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>