<?xml version="1.0" encoding="utf-8"?>
<Content Key="13bec5d0-93b9-4acf-ab8f-158d1660afdb" Alias="Practical Prototyping Night" Level="4">
  <Info>
    <Parent Key="dcd788e2-8a67-4938-a0e8-2edc81f483fd">Meetups</Parent>
    <Path>/Default/Events/Meetups/PracticalPrototypingNight</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-09-18T15:10:52</CreateDate>
    <NodeName Default="Practical Prototyping Night">
      <Name Culture="da">Practical Prototyping Night</Name>
      <Name Culture="en">Practical Prototyping Night</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f6179-c924-73e2-8c94-84fe33eb6555">EventPage</Template>
  </Info>
  <Properties>
    <contactPointEmail>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointEmail>
    <contactPointTelephone>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointTelephone>
    <content>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EVi arbejder i sm\u00E5 grupper og afslutter med en kort fremvisning af aftenens fors\u00F8g.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe work in small groups and end with a short show-and-tell of the evening\u0027s experiments.\u003C/p\u003E"
}]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Tag en idé med og byg den sammen med andre.]]></Value>
      <Value Culture="en"><![CDATA[Bring an idea and build it with others.]]></Value>
    </description>
    <eventEndDate>
      <Value><![CDATA[2026-05-14T20:00:00]]></Value>
    </eventEndDate>
    <eventMaximumAttendeeCapacity>
      <Value><![CDATA[]]></Value>
    </eventMaximumAttendeeCapacity>
    <eventStartDate>
      <Value><![CDATA[2026-05-14T17:30:00]]></Value>
    </eventStartDate>
    <postAddressAddressCountry>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postAddressAddressCountry>
    <postalAddressAddressLocality>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressLocality>
    <postalAddressAddressRegion>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressRegion>
    <postalAddressExtendedAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressExtendedAddress>
    <postalAddressPostalCode>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressPostalCode>
    <postalAddressStreetAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressStreetAddress>
    <tags>
      <Value Culture="da"><![CDATA[[
  "events",
  "meetup",
  "prototyping"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "events",
  "meetup",
  "prototyping"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Praktisk prototypeaften]]></Value>
      <Value Culture="en"><![CDATA[Practical Prototyping Night]]></Value>
    </title>
  </Properties>
</Content>