<?xml version="1.0" encoding="utf-8"?>
<Content Key="856dcbbb-e455-43c6-a7e2-a38c0d896663" Alias="Privat Event 1" Level="4">
  <Info>
    <Parent Key="4c68100b-17c5-4283-b6d7-d06af88df292">Private</Parent>
    <Path>/Site1/Events/Private/PrivatEvent1</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-09-30T09:25:10</CreateDate>
    <NodeName Default="Privat Event 1">
      <Name Culture="da">Privat Event 1</Name>
      <Name Culture="en">Event 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template Key="019f6179-c924-73e2-8c94-84fe33eb6555">EventPage</Template>
  </Info>
  <Properties>
    <contactPointEmail>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointEmail>
    <contactPointTelephone>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointTelephone>
    <content>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Privat Event 1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <eventEndDate>
      <Value><![CDATA[]]></Value>
    </eventEndDate>
    <eventMaximumAttendeeCapacity>
      <Value><![CDATA[0]]></Value>
    </eventMaximumAttendeeCapacity>
    <eventStartDate>
      <Value><![CDATA[]]></Value>
    </eventStartDate>
    <postAddressAddressCountry>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postAddressAddressCountry>
    <postalAddressAddressLocality>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressLocality>
    <postalAddressAddressRegion>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressRegion>
    <postalAddressExtendedAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressExtendedAddress>
    <postalAddressPostalCode>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressPostalCode>
    <postalAddressStreetAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressStreetAddress>
    <tags>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Privat Event 1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>