<?xml version="1.0" encoding="utf-8"?>
<Content Key="76eed9d0-0fc4-4b7f-9033-919f9c5ffcd2" Alias="Produkt 1" Level="4">
  <Info>
    <Parent Key="ef59a2b7-869b-419b-8d20-9487be8a1f01">Tøj</Parent>
    <Path>/Default/Shop/Toej/Produkt1</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2026-09-18T14:38:54</CreateDate>
    <NodeName Default="Produkt 1">
      <Name Culture="da">Produkt 1</Name>
      <Name Culture="en">Product 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0b4d1-f007-7953-9c45-e9069eb36cb6">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[Er jher]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <productBrand>
      <Value Culture="da"><![CDATA[Dyrt]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productBrand>
    <productCategory>
      <Value Culture="da"><![CDATA[Sejt kød]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productCategory>
    <productDescription>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EDette er et dyr\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productDescription>
    <productImage>
      <Value Culture="da"><![CDATA[[
  {
    "key": "ef61b3f6-5d4e-49c8-a6c1-647880020902",
    "mediaKey": "3e5926a0-3fda-474f-8999-185c857453ed",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productImage>
    <productName>
      <Value Culture="da"><![CDATA[Dyr 1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productName>
    <productSku>
      <Value Culture="da"><![CDATA[8989]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </productSku>
    <tags>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Et dyr]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>