<?xml version="1.0" encoding="utf-8"?>
<Content Key="14f8b7bf-da34-422e-9973-0209d4e6d19f" Alias="Remote Collaboration Workshop" Level="4">
  <Info>
    <Parent Key="09f032a9-b531-4b90-b858-c9aa8cabdb3d">Online</Parent>
    <Path>/Default/Events/Online/RemoteCollaborationWorkshop</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-09-18T15:10:52</CreateDate>
    <NodeName Default="Remote Collaboration Workshop">
      <Name Culture="da">Remote Collaboration Workshop</Name>
      <Name Culture="en">Remote Collaboration Workshop</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f6179-c924-73e2-8c94-84fe33eb6555">EventPage</Template>
  </Info>
  <Properties>
    <contactPointEmail>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointEmail>
    <contactPointTelephone>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointTelephone>
    <content>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EVi afpr\u00F8ver m\u00F8deformater, beslutningslogge og korte \u00F8velser, der fungerer p\u00E5 tv\u00E6rs af afstand.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe will try meeting formats, decision logs, and short exercises that work across distance.\u003C/p\u003E"
}]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Lær at gøre online samarbejde mere fokuseret og inkluderende.]]></Value>
      <Value Culture="en"><![CDATA[Learn to make remote collaboration more focused and inclusive.]]></Value>
    </description>
    <eventEndDate>
      <Value><![CDATA[2026-06-02T10:30:00]]></Value>
    </eventEndDate>
    <eventMaximumAttendeeCapacity>
      <Value><![CDATA[]]></Value>
    </eventMaximumAttendeeCapacity>
    <eventStartDate>
      <Value><![CDATA[2026-06-02T09:00:00]]></Value>
    </eventStartDate>
    <postAddressAddressCountry>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postAddressAddressCountry>
    <postalAddressAddressLocality>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressLocality>
    <postalAddressAddressRegion>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressRegion>
    <postalAddressExtendedAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressExtendedAddress>
    <postalAddressPostalCode>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressPostalCode>
    <postalAddressStreetAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressStreetAddress>
    <tags>
      <Value Culture="da"><![CDATA[[
  "events",
  "online",
  "collaboration"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "events",
  "online",
  "collaboration"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Workshop om samarbejde på afstand]]></Value>
      <Value Culture="en"><![CDATA[Remote Collaboration Workshop]]></Value>
    </title>
  </Properties>
</Content>