<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea787202-16a1-4acf-8e8e-93b49a4efb0a" Alias="Shop" Level="2">
  <Info>
    <Parent Key="b04a32de-a3c4-4946-9ce4-efb9bbedb396">Default</Parent>
    <Path>/Default/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>areaPage</ContentType>
    <CreateDate>2026-09-18T13:49:56</CreateDate>
    <NodeName Default="Shop">
      <Name Culture="da">Shop</Name>
      <Name Culture="en">Shop</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0afb7-7d86-7417-b840-11ff991107fe">AreaPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </overrideCreateDate>
    <title>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>