<?xml version="1.0" encoding="utf-8"?>
<Content Key="8534d0e4-367b-4101-8820-92535d6e7946" Alias="Søg" Level="2">
  <Info>
    <Parent Key="b04a32de-a3c4-4946-9ce4-efb9bbedb396">Default</Parent>
    <Path>/Default/Soeg</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2026-09-17T16:01:22</CreateDate>
    <NodeName Default="Søg">
      <Name Culture="da">Søg</Name>
      <Name Culture="en">Search</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0b017-107c-7298-8118-5349382165a2">SearchPage</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <title>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>