<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6ff95e0-5035-42a7-8a0c-1d8dd6e69c12" Alias="Spring Community Meetup" Level="4">
  <Info>
    <Parent Key="dcd788e2-8a67-4938-a0e8-2edc81f483fd">Meetups</Parent>
    <Path>/Default/Events/Meetups/SpringCommunityMeetup</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-09-18T15:10:51</CreateDate>
    <NodeName Default="Spring Community Meetup">
      <Name Culture="da">Spring Community Meetup</Name>
      <Name Culture="en">Spring Community Meetup</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f6179-c924-73e2-8c94-84fe33eb6555">EventPage</Template>
  </Info>
  <Properties>
    <contactPointEmail>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointEmail>
    <contactPointTelephone>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </contactPointTelephone>
    <content>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EM\u00F8d lokale entusiaster, del id\u00E9er og h\u00F8r korte opl\u00E6g fra f\u00E6llesskabet.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EMeet local enthusiasts, share ideas, and hear short talks from the community.\u003C/p\u003E"
}]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[En uformel aften med faglige oplæg og samtaler.]]></Value>
      <Value Culture="en"><![CDATA[An informal evening of talks and conversation.]]></Value>
    </description>
    <eventEndDate>
      <Value><![CDATA[2026-04-16T20:00:00]]></Value>
    </eventEndDate>
    <eventMaximumAttendeeCapacity>
      <Value><![CDATA[]]></Value>
    </eventMaximumAttendeeCapacity>
    <eventStartDate>
      <Value><![CDATA[2026-04-16T17:30:00]]></Value>
    </eventStartDate>
    <postAddressAddressCountry>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postAddressAddressCountry>
    <postalAddressAddressLocality>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressLocality>
    <postalAddressAddressRegion>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressAddressRegion>
    <postalAddressExtendedAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressExtendedAddress>
    <postalAddressPostalCode>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressPostalCode>
    <postalAddressStreetAddress>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </postalAddressStreetAddress>
    <tags>
      <Value Culture="da"><![CDATA[[
  "events",
  "meetup"
]]]></Value>
      <Value Culture="en"><![CDATA[[
  "events",
  "meetup"
]]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Forårets fællesskabs-møde]]></Value>
      <Value Culture="en"><![CDATA[Spring Community Meetup]]></Value>
    </title>
  </Properties>
</Content>