<?xml version="1.0" encoding="utf-8"?>
<Content Key="23d245fe-6ff2-41cd-add1-f670f4b82900" Alias="Tekst side" Level="2">
  <Info>
    <Parent Key="1f0425db-a81f-4268-9f6b-40718fa46413">Site 3</Parent>
    <Path>/Site3/TekstSide</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-08-20T17:20:32</CreateDate>
    <NodeName Default="Tekst side">
      <Name Culture="da">Tekst side</Name>
      <Name Culture="en">Text page</Name>
      <Name Culture="pl">Strona</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Beskrivelse: Tekst side]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </overrideCreateDate>
    <tags>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Titel: Tekst side]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>