<?xml version="1.0" encoding="utf-8"?>
<Content Key="25594ce7-cd3e-4916-b4ee-f6d4bddca154" Alias="Tekst under side 1" Level="3">
  <Info>
    <Parent Key="f3d0a555-a284-41d5-8b24-76d875e39c3e">Om</Parent>
    <Path>/Site1/Om/TekstUnderSide1</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-07-06T12:16:22</CreateDate>
    <NodeName Default="Tekst under side 1">
      <Name Culture="da">Tekst under side 1</Name>
      <Name Culture="en">Text Sub Page 1</Name>
      <Name Culture="pl">Strona 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="da"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=367\u0026amp;height=318\u0026amp;hmac=3ebce8848de648d14c49b72685dd377003d0a58e1b7286d7f7d4c1e0baef88be\u0022 alt=\u0022Screenshot 2026 08 19 195920\u0022 width=\u0022367\u0022 height=\u0022318\u0022 data-udi=\u0022umb://media/a5a39976bb86475fa60c25ef09d920ce\u0022\u003E\u003C/p\u003E"
}]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Beskrivelse: Tekst under side 1 ]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </overrideCreateDate>
    <tags>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Titel: Tekst under side 1]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>