<?xml version="1.0" encoding="utf-8"?>
<Media Key="4edd7aab-c009-454f-b3bd-8ea67d2c0aaa" Alias="Gwen Weustink I3C1Ssxj1I8 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GwenWeustinkI3C1Ssxj1I8Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T14:29:42</CreateDate>
    <NodeName Default="Gwen Weustink I3C1Ssxj1I8 Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/esyjx4da/gwen-weustink-i3c1ssxj1i8-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>