<?xml version="1.0" encoding="utf-8"?>
<Media Key="09a2d869-4394-4abc-9cfc-a537a3ee2fe6" Alias="Ricky Kharawala Adk3Vu70DEQ Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RickyKharawalaAdk3Vu70DEQUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T14:30:43</CreateDate>
    <NodeName Default="Ricky Kharawala Adk3Vu70DEQ Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2yjojp53/ricky-kharawala-adk3vu70deq-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>