<?xml version="1.0" encoding="utf-8"?>
<Media Key="4facbe78-ef61-45eb-a5c3-f5435e232314" Alias="robots-cd1.dev.localhost-4443.txt" Level="2">
  <Info>
    <Parent Key="314d62f7-9ec1-462c-aff4-acc83d7650c1">robots.txt</Parent>
    <Path>/robotstxt/robotsCd1devlocalhost4443txt</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-21T12:50:51</CreateDate>
    <NodeName Default="robots-cd1.dev.localhost-4443.txt" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rplfp10g/robots-cd1devlocalhost-4443.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>