<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b1ab862-3be8-41ef-ba33-7dbb25d916c4" Alias="robots-cd.dev.localhost-4443.txt" Level="2">
  <Info>
    <Parent Key="c8ab2f52-a648-4290-aa99-276c454af6e5">robots.txt</Parent>
    <Path>/robotstxt/robotsCddevlocalhost4443txt</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-19T23:45:56</CreateDate>
    <NodeName Default="robots-cd.dev.localhost-4443.txt" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shiodg4p/robots-cddevlocalhost-4443.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>