<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f12b092-0b27-44d9-aa83-73aa0e072745" Alias="robots-cd.dev.localhost-4443.txt" Level="2">
  <Info>
    <Parent Key="314d62f7-9ec1-462c-aff4-acc83d7650c1">robots.txt</Parent>
    <Path>/robotstxt/robotsCddevlocalhost4443txt</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-21T12:50:51</CreateDate>
    <NodeName Default="robots-cd.dev.localhost-4443.txt" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mhmot1ya/robots-cddevlocalhost-4443.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>