<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd9f773a-ffe1-4b2c-96ad-7a80df71016b" Alias="robots-cd1.dev.localhost-4443.txt" Level="2">
  <Info>
    <Parent Key="f277915c-1e32-4307-9379-d7e696a3b78d">robots.txt</Parent>
    <Path>/robotstxt/robotsCd1devlocalhost4443txt</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-21T09:34:14</CreateDate>
    <NodeName Default="robots-cd1.dev.localhost-4443.txt" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zephi5og/robots-cd1devlocalhost-4443.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>