<?xml version="1.0" encoding="utf-8"?>
<Media Key="033cca0a-72bb-4f0a-82c7-76d64af2a279" Alias="robots.txt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/robotstxt</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-28T19:19:25</CreateDate>
    <NodeName Default="robots.txt" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>