<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8ab2f52-a648-4290-aa99-276c454af6e5" Alias="robots.txt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/robotstxt</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-19T23:18:09</CreateDate>
    <NodeName Default="robots.txt" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>