<?xml version="1.0" encoding="utf-8"?>
<Media Key="f42980a2-fb9c-4b69-a2aa-4a50ecb5c6fa" Alias="robots-default.txt" Level="2">
  <Info>
    <Parent Key="f277915c-1e32-4307-9379-d7e696a3b78d">robots.txt</Parent>
    <Path>/robotstxt/robotsDefaulttxt</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-21T09:34:14</CreateDate>
    <NodeName Default="robots-default.txt" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/khunevf1/robots-default.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>