<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5a39976-bb86-475f-a60c-25ef09d920ce" Alias="Screenshot 2026 08 19 195920" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20260819195920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-20T00:02:40</CreateDate>
    <NodeName Default="Screenshot 2026 08 19 195920" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5fjpke5p/screenshot-2026-08-19-195920.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>